<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>College Predictor | Technology</title>
  <link rel="icon" href="https://mir-s3-cdn-cf.behance.net/projects/404/8e6692141570489.Y3JvcCw4OTksNzAzLDYyLDUz.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/ce95135c1f.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://th.bing.com/th/id/OIP.03JzQpcFTF1ZcPYIq7N17gHaHa?pid=ImgDet&rs=1"
          alt="Bootstrap"
          width="50"
          height="50"
        />
        <h8 class="ps-2" style="font-weight: 700; font-family: Tahoma; font-size: 1.5rem;">College Predictor</h8>
      </a>
      <button
        class="navbar-toggler bg-white"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-5">
          <li class="nav-item">
            <a
              class="nav-link active pe-4"
              aria-current="page"
              href="/"
              style="font-size: 20px;"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle pe-4"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="font-size: 20px;"
            >
              Topics
            </a>
            <ul class="dropdown-menu dropdown-menu">
              <li>
                <a
                  class="dropdown-item d-flex align-items-center gap-2 py-2"
                  href="/learn"
                  ><span
                    class="d-inline-block bg-primary rounded-circle p-1"
                  ></span>
                  Learn Coding</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center gap-2 py-2"
                  href="/technology"
                  ><span
                    class="d-inline-block bg-danger rounded-circle p-1"
                  ></span>
                  Technology</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center gap-2 py-2"
                  href="#"
                  ><span
                    class="d-inline-block bg-warning rounded-circle p-1"
                  ></span>
                  Support Us</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center gap-2 py-2"
                  href="#"
                  ><span
                    class="d-inline-block bg-success rounded-circle p-1"
                  ></span>
                  FAQs</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link pe-4" href="/about" style="font-size: 20px;"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" style="font-size: 20px;"
              >Contact Us</a
            >
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            type="button"
            class="btn"
            style="background-color: rgb(0, 115, 247); color: white; font-size: 20px; font-weight: 600;"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Heading -->
  <div class="p-4 p-md-5 text-bg-dark">
    <div class="mt-5">
      <h1 class="display-5 fst-italic fw-bold text-center">The most featured programming languages</h1>
      <p class="lead my-3 text-center">The world of technology is constantly evolving, 
        and with it, the programming languages used to build software applications. Among the myriad of programming 
        languages, there is one that stands out as the most dominant and popular language in today's tech industry. 
        This language has a vast community of developers, a vast array of tools and libraries, and is used in a 
        variety of domains, ranging from web development to machine learning. 
      </p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <!-- Scrolled Part -->
  <div class="row g-5 me-0 bg-dark">
    <div class="col-md-4">
      <div class="position-sticky" style="top: 1rem;">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
          <a href="" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom
               bg-black">
            <span class="fs-5 fw-semibold link-light">Programming Languages</span>
          </a>
          <div class="list-group list-group-flush border-bottom">
            <a href="#Python" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Python</strong>
                <small class="text-muted">Wed</small>
              </div>
              <div class="col-10 mb-1 small">
                One of the best and leading programming language for everyone.
              </div>
            </a>
            <a href="#Java" class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Java</strong>
                <small class="text-muted">Tues</small>
              </div>
              <div class="col-10 mb-1 small">
                It is the all time language and one of the important language in industries.
              </div>
            </a>
            <a href="#C++" class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">C++</strong>
                <small class="text-muted">Mon</small>
              </div>
              <div class="col-10 mb-1 small">
                Best language for visuals and gaming perspective.
              </div>
            </a>
            <a href="#HTML" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">HTML & CSS</strong>
                <small class="text-muted">Wed</small>
              </div>
              <div class="col-10 mb-1 small">
                Language used as fontend to create responsive and attractive pages.
              </div>
            </a>
            <a href="#Data_Science" class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Data Science</strong>
                <small class="text-muted">Mon</small>
              </div>
              <div class="col-10 mb-1 small">
                One of the best topic for analysis, visualization and generating models.
              </div>
            </a>
            <a href="#Machine_Learning" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Machine Learning</strong>
                <small class="text-muted">Wed</small>
              </div>
              <div class="col-10 mb-1 small">
                Generate models to predict and classify the systems with accurate structure.
              </div>
            </a>
            <a href="#Other" class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Other Related Topics</strong>
                <small class="text-muted">Tues</small>
              </div>
              <div class="col-10 mb-1 small">
                Other topics which are informative as well as in current demand.
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 pe-5 bg-light">

      <!-- Python -->
      <h2 class="pt-3 mb-3" id="Python">Python</h2>
      <h4>What is Python?</h4>
      <p>Python is a popular programming language. It was created by Guido van Rossum,
        and released in 1991.</p>
      <p>It is used for :</p>
      <ul>
        <li>web development (server-side),</li>
        <li>software development,</li>
        <li>mathematics,</li>
        <li>system scripting.</li>
      </ul>
      <h5>What can Python do?</h5>
      <ul>
        <li>Python can be used on a server to create web applications.</li>
        <li>Python can be used alongside software to create workflows.</li>
        <li>Python can connect to database systems. It can also read and modify files.</li>
        <li>Python can be used to handle big data and perform complex mathematics.</li>
        <li>Python can be used for rapid prototyping, or for production-ready software development.</li>
      </ul>
      <h5>Why Python?</h5>
      <ul>
        <li>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).</li>
        <li>Python has a simple syntax similar to the English language.</li>
        <li>Python has syntax that allows developers to write programs with fewer lines than some
          other programming languages.</li>
        <li>Python runs on an interpreter system, meaning that code can be executed as soon as it is
          written. This means that prototyping can be very quick.</li>
        <li>Python can be treated in a procedural way, an object-oriented way or a functional way.</li>
      </ul>
      <h5>Good to know</h5>
      <ul>
        <li>The most recent major version of Python is Python 3, which we shall be using in this tutorial.
          However, Python 2, although not being updated with anything other than security updates, is still
          quite popular.</li>
        <li>In this tutorial Python will be written in a text editor. It is possible to write Python
          in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which
          are particularly useful when managing larger collections of Python files.</li>
      </ul>
      <h5>Python Syntax compared to other programming languages</h5>
      <ul>
        <li>Python was designed for readability, and has some similarities to the English language with
          influence from mathematics.</li>
        <li>Python uses new lines to complete a command, as opposed to other programming languages which
          often use semicolons or parentheses.</li>
        <li>Python relies on indentation, using whitespace, to define scope; such as the scope of loops,
          functions and classes. Other programming languages often use curly-brackets for this purpose.</li>
      </ul>
      <hr>

      <!-- Java -->
      <h2 class="mt-2 mb-3" id="Java">Java</h2>
      <h4>What is Java?</h4>
      <p>Java is a popular programming language, created in 1995.</p>
      <p>It is owned by Oracle, and more than 3 billion devices run Java.</p>
      <p>It is used for :</p>
      <ul>
        <li>Mobile applications (specially Android apps)</li>
        <li>Desktop applications</li>
        <li>Web applications</li>
        <li>Web servers and application servers</li>
        <li>Games</li>
        <li>Database connection</li>
        <li>And much, much more!</li>
      </ul>
      <h5>Why Use Java?</h5>
      <ul>
        <li>Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)</li>
        <li>It is one of the most popular programming language in the world</li>
        <li>It has a large demand in the current job market</li>
        <li>It is easy to learn and simple to use</li>
        <li>It is open-source and free</li>
        <li>It is secure, fast and powerful</li>
        <li>It has a huge community support (tens of millions of developers)</li>
        <li>Java is an object oriented language which gives a clear structure to programs and
          allows code to be reused, lowering development costs</li>
        <li>As Java is close to C++ and C#, it makes it easy for programmers to switch to Java or vice versa</li>
      </ul>
      <hr>

      <!-- C++ -->
      <h2 class="mt-2 mb-3" id="C++">C++</h2>
      <h4>What is C++ ?</h4>
      <ul>
        <li>C++ is a cross-platform language that can be used to create high-performance applications.</li>
        <li>C++ was developed by Bjarne Stroustrup, as an extension to the C language.</li>
        <li>C++ gives programmers a high level of control over system resources and memory.</li>
        <li>The language was updated 4 major times in 2011, 2014, 2017, and 2020 to C++11, C++14,
          C++17, C++20.</li>
      </ul>
      <h5>Why Use C++</h5>
      <ul>
        <li>C++ is one of the world's most popular programming languages.</li>
        <li>C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.</li>
        <li>C++ is an object-oriented programming language which gives a clear structure to programs and allows
          code to be reused, lowering development costs.</li>
        <li>C++ is portable and can be used to develop applications that can be adapted to multiple platforms.</li>
        <li>C++ is fun and easy to learn!</li>
        <li>As C++ is close to C, C# and Java, it makes it easy for programmers to switch to C++ or vice versa.</li>
      </ul>
      <h5>Difference between C and C++</h5>
      <p>C++ was developed as an extension of C, and both languages have almost the same syntax.
        The main difference between C and C++ is that C++ support classes and objects, while C does not.
      </p>
      <hr>

      <!-- HTML & CSS -->
      <h2 class="mt-2 mb-3" id="HTML">HTML & CSS</h2>
      <h4>What is HTML?</h4>
      <ul>
        <li>HTML stands for Hyper Text Markup Language</li>
        <li>HTML is the standard markup language for creating Web pages</li>
        <li>HTML describes the structure of a Web page</li>
        <li>HTML consists of a series of elements</li>
        <li>HTML elements tell the browser how to display the content</li>
        <li>HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</li>
      </ul>
      <h4>What is CSS?</h4>
      <ul>
        <li>CSS stands for Cascading Style Sheets</li>
        <li>CSS describes how HTML elements are to be displayed on screen, paper, or in other media</li>
        <li>CSS saves a lot of work. It can control the layout of multiple web pages all at once</li>
        <li>External stylesheets are stored in CSS files</li>
      </ul>
      <h5>What is an HTML Element?</h5>
      <p>An HTML element is defined by a start tag, some content, and an end tag.</p>
      <h5>Web Browsers</h5>
      <p>The purpose of a web browser (Chrome, Edge, Firefox, Safari) is to read HTML documents and display them correctly.</p>
      <h5>Why Use CSS?</h5>
      <p>CSS is used to define styles for your web pages, including the design, layout and variations in display for different 
        devices and screen sizes.</p>
      <hr>

      <!-- Data Science -->
      <h2 class="mt-2 mb-3" id="Data_Science">Data Science</h2>
      <h4>What is Data Science?</h4>
      <p>Data Science is about data gathering, analysis and decision-making.</p>
      <p>Data Science is about finding patterns in data, through analysis, and make future predictions.</p>
      <p>By using Data Science, companies are able to make:</p>
      <ul>
        <li>Better decisions (should we choose A or B)</li>
        <li>Predictive analysis (what will happen next?)</li>
        <li>Pattern discoveries (find pattern, or maybe hidden information in the data)</li>
      </ul>
      <h5>Where is Data Science Needed?</h5>
      <p>Data Science is used in many industries in the world today, e.g. banking, consultancy, healthcare, and manufacturing.</p>
      <p>Examples of where Data Science is needed:</p>
      <ul>
        <li>For route planning: To discover the best routes to ship</li>
        <li>To foresee delays for flight/ship/train etc. (through predictive analysis)</li>
        <li>To create promotional offers</li>
        <li>To find the best suited time to deliver goods</li>
        <li>To forecast the next years revenue for a company</li>
        <li>To analyze health benefit of training</li>
        <li>To predict who will win elections</li>
      </ul>
      <p>Data Science can be applied in nearly every part of a business where data is available. Examples are:</p>
      <ul>
        <li>Consumer goods</li>
        <li>Stock markets</li>
        <li>Industry</li>
        <li>Politics</li>
        <li>Logistic companies</li>
        <li>E-commerce</li>
      </ul>
      <h5>How Does a Data Scientist Work?</h5>
      <p>A Data Scientist requires expertise in several backgrounds:</p>
      <ul>
        <li>Machine Learning</li>
        <li>Statistics</li>
        <li>Programming (Python or R)</li>
        <li>Mathematics</li>
        <li>Databases</li>
      </ul>
      <p>A Data Scientist must find patterns within the data. Before he/she can find the patterns, he/she must organize
         the data in a standard format.</p>
      <hr> 
      
      <!-- Machine Learning -->
      <h2 class="mt-2 mb-3" id="Machine_Learning">Machine Learning</h2>
      <h4>What is Machine Learning?</h4>
      <p>Machine Learning is making the computer learn from studying data and statistics.</p>
      <p>Machine Learning is a step into the direction of artificial intelligence (AI).</p>
      <p>Machine Learning is a program that analyses data and learns to predict the outcome.</p>
      <h5>Data Types</h5>
      <p>To analyze data, it is important to know what type of data we are dealing with.</p>
      <p>We can split the data types into three main categories:</p>
      <ul>
        <li>Numerical</li>
        <li>Categorical</li>
        <li>Ordinal</li>
      </ul>
      <p>Numerical data are numbers, and can be split into two numerical categories:</p>
      <ul>
        <li>Discrete Data
          <p>- numbers that are limited to integers. Example: The number of cars passing by.</p>
        </li>
        <li>Continuous Data
          <p>- numbers that are of infinite value. Example: The price of an item, or the size of an item</p>
        </li>
      </ul>
      <p>Categorical data are values that cannot be measured up against each other. Example: a color value,
         or any yes/no values.</p>
      <p>Ordinal data are like categorical data, but can be measured up against each other. Example: school
         grades where A is better than B and so on.</p>
    </div>

    <!-- Footer -->
    <div class="container mt-5">
      <footer class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="index.html" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link px-2 text-muted">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Support Us</a>
          </li>
          <li class="nav-item">
            <a href="Contact.html" class="nav-link px-2 text-muted">Contact Us</a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2022 Algorithm Unlocked, Inc</p>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>

</body>

</html>