<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://th.bing.com/th/id/OIP.03JzQpcFTF1ZcPYIq7N17gHaHa?pid=ImgDet&rs=1">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
    <div class="container py-3">
         <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="https://th.bing.com/th/id/OIP.03JzQpcFTF1ZcPYIq7N17gHaHa?pid=ImgDet&rs=1"
              alt="Bootstrap"
              width="50"
              height="50"
            />
            <h8 class="ps-2" style="font-weight: 700; font-family: Tahoma; font-size: 1.5rem;">College Predictor</h8>
          </a>
          <button
            class="navbar-toggler bg-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-5">
              <li class="nav-item">
                <a
                  class="nav-link pe-4"
                  aria-current="page"
                  href="/"
                  style="font-size: 20px;"
                  >Home</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle pe-4"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="font-size: 20px;"
                >
                  Topics
                </a>
                <ul class="dropdown-menu dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item d-flex align-items-center gap-2 py-2"
                      href="/learn"
                      ><span
                        class="d-inline-block bg-primary rounded-circle p-1"
                      ></span>
                      Learn Coding</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item d-flex align-items-center gap-2 py-2"
                      href="/colleges"
                      ><span
                        class="d-inline-block bg-danger rounded-circle p-1"
                      ></span>
                      Top Colleges</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item d-flex align-items-center gap-2 py-2"
                      href="#"
                      ><span
                        class="d-inline-block bg-warning rounded-circle p-1"
                      ></span>
                      Support Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item d-flex align-items-center gap-2 py-2"
                      href="#"
                      ><span
                        class="d-inline-block bg-success rounded-circle p-1"
                      ></span>
                      FAQs</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-4" href="/about" style="font-size: 20px;"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact" style="font-size: 20px;"
                  >Contact Us</a
                >
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                type="button"
                class="btn"
                style="background-color: rgb(0, 115, 247); color: white; font-size: 20px; font-weight: 600;"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
      
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center mt-5">
            <h1 class="display-4 fw-normal text-body-emphasis" style="margin-top: 20px;">Support Us</h1>
            <p class="fs-5 text-body-secondary mt-3">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
          </div>
        </header>
      
        <main>
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0">© 2023 College Predictor, Inc</p>
      
          <img
                  src="https://th.bing.com/th/id/OIP.03JzQpcFTF1ZcPYIq7N17gHaHa?pid=ImgDet&rs=1"
                  alt="Bootstrap"
                  width="50"
                  height="50"
                />
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Colleges</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link px-2">Contact Us</a></li>
          </ul>
        </footer>
      </div>
</body>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
</html>